body {
  background-color: #DEDFD7;
  color: #F2F2F2;
  display: grid;
  font-family: 'Courier New', Courier, monospace;
  grid-template-columns: 1fr 2fr 1fr;
  height: 98vh;
  width: 98vw; 
}

#player1, #player2, .game-container {
  align-items: center;
  display: flex;
  flex-flow: column;
}

#player1, #player2 {
  align-self: center;
  background-color: #89A0AE;
  border-radius: 10px;
  height: 95%;
  margin:.2em;
  max-height: 725px;
  width: minmax(330px, 500px);
  opacity: 80%;
}

.player-info-form {
  align-items: center;
  background-color: #012340;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  margin-top: 5em;
  width: 475px;
}

.player-info-form label {
  color:  rgb(204, 209, 212);
  font-size: 18pt;
  margin: 8px;
}

.player-info-form input {
  font-size: 18pt;
  height: 34px;
  margin: 13px;
  width: 93%;
}
.submit-players-name {
  font-size: 21pt;
  height: 55px;
  justify-self: center;
  width: 55%;
}

.player-info {
  background-color: #012340;
  border-radius: 25px;
  margin: 13px;
  margin-top: 1.3em;
  text-align: center;
  width: 89%;
}

.player-info h4 {
  font-size: 18pt;
  margin: 13px;
}

.player-info h5 {
  font-size: 15pt;
  margin: 13px;
}

.game-info {
  background-color: #89A0AE;
  border-radius: 15px;
  margin-top: 5vh;
  text-align: center;
  width: 55%;
}

.game-info h3 {
  font-size: 21pt;
  margin: .2em; 
}

.player-victories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: .8em;
  padding: 13px;
  overflow-y: scroll;
}

.mini-board {
  align-items: center;
  background-color: #012340;
  border-radius: 8px;
  color:#BFAE99;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100px;
  justify-content: center;
  width: 100px;
}

.mini-board div {
  font-size: 21pt;
  text-align: center;
}

.game-board {
  background-color: #BFAE99;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 8vh;
}

.game-board div {
  background-color: #012340;
  font-size: 89pt;
  height: 144px;
  text-align: center;
  width: 144px;
}

.reset-count{
  background-color: #89A0AE;
  border-radius: 13px;
  color: #F2F2F2;
  font-size: 13pt;
  font-weight: 600;
  height: 55px;
  margin-top: 55px;
  width: 34%;
}

.hidden {
  display: none;
}

/*
Colour scheme ideas:

#F8F8F7
86A6A5
C84B40
DF7F4E
EAB166
242F48 

*/